apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
        # Prometheus Running Port
          - targets: ['localhost:9090']

      - job_name: 'flask-app'
        metrics_path: /metrics
        static_configs:
      # Replace with the actual IP address and port of your Flask application. This is where Prometheus will scrape metrics from.
          - targets: ['35.192.21.75:5000']